.slider-container{width:100%;position:relative;padding:0;}.slider{width:100%;position:relative;}
color: #e0dadf;
content: "SSSSS";
float: left;
left: 0;
position: absolute;
top: 0;
#mfn-rev-slider { min-height:437px; }